<?xml version='1.0' encoding='utf-8'?>
<widget id="com.windhavengroup.pushon" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>uapushOn</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="com.urbanairship.production_app_key" value="PRODUCTION_APP_KEY" />
    <preference name="com.urbanairship.production_app_secret" value="PRODUCTION_APP_SECRET" />
    <preference name="com.urbanairship.development_app_key" value="2c-cJRqqS3Wc3e7s7mfTiA" />
    <preference name="com.urbanairship.development_app_secret" value="fhH2tZL-RhunbfYnjg4oBA" />
    <preference name="com.urbanairship.in_production" value="false" />
    <preference name="com.urbanairship.enable_push_onlaunch" value="false" />
    <preference name="com.urbanairship.gcm_sender" value="496792742542" />
    <feature name="Urban Airship Push Notification Plugin">
        <param name="id" value="com.urbanairship.phonegap.PushNotification" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="Notification">
        <param name="id" value="org.apache.cordova.dialogs" />
    </feature>
    <feature name="File">
        <param name="id" value="org.apache.cordova.file" />
    </feature>
    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information" />
    </feature>
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
</widget>
