<section>
    <h2>Message number {{ message.storageIndex }}</h2>

      <div class="panel-heading">
        <h3 class="panel-title">Saved {{ message.save_time_string }}</h3>
      </div>
      <div class="panel-body">
  <div ng-repeat="pair in extras" class="container">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-left" style="border-right: 1px solid #ccc;">
	    {{ pair.name }}
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-left">
            <p>{{ pair.value }}
	    </p>
	  </div>
	</div>
  </div>
</section>
